Xft.hinting: true 
Xft.hintstyle: hintfull 
Xft.antialias: rgba 
Xft.rgba: none
Xft.dpi: 96

Xcursor.theme: DMZ-Black
Xcursor.size: 16

#define r_bg   #000000
#define r_fg   #aaaaaa
#define r_hlfg #ffffff

! States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.color-normal: r_bg,r_fg,r_bg,r_bg,r_hlfg
rofi.color-urgent: r_bg,#ffffff,r_bg,r_bg,r_hlfg
rofi.color-active: r_bg,r_fg,#ffffff,r_bg,#ffffff
! states: background, border
rofi.color-window: r_bg,#ffffff

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5

rofi.yoffset: -300
rofi.opacity: 80
rofi.fake-transparency: true
rofi.location: 0
rofi.width: 30
rofi.font: Inconsolata 12
rofi.lines: 10

! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #cc00ff

! black
*.color0:       #1c1c1c
*.color8:       #00d7ff

! red
*.color1:       #ff00ff
*.color9:       #d700ff

! green
*.color2:       #00afaf
*.color10:      #00afd7

! yellow
*.color3:       #0087af
*.color11:      #5f5fff

! blue
*.color4:       #5f5faf
*.color12:      #ff5fff

! magenta
*.color5:       #d75fff
*.color13:      #00d7ff

! cyan
*.color6:       #00afff
*.color14:      #00ffff

! white
*.color7:       #808080
*.color15:      #ccffff

! define different font params for various machines
#ifdef SRVR_chromebook
	#define urxvt_font_size 17
	#define urxvt_letter_spacing -1
#elif defined SRVR_baseline
	#define urxvt_font_size 16
	#define urxvt_letter_spacing -1
#else
	#define urxvt_font_size 15
	#define urxvt_letter_spacing -2
#endif

! make it easy to change font in one place
#define urxvt_font xft:Ubuntu Mono:pixelsize=urxvt_font_size
#define urxvt_bold_font urxvt_font:style=Bold

URxvt*font: urxvt_font
URxvt*boldFont: urxvt_bold_font

URxvt*allow_bold: true
URxvt*letterSpace: urxvt_letter_spacing

URxvt*buffered: false
URxvt.transparent: true
URxvt*shading: 15

URxvt*scrollBar:     false
