Xft.hinting: true 
Xft.hintstyle: hintfull 
Xft.antialias: rgba 
Xft.rgba: none
Xft.dpi: 96

Xcursor.theme: DMZ-Black
Xcursor.size: 16

#define r_bg   #000000
#define r_fg   #aaaaaa
#define r_hlfg #ffffff

! States: bg, fg, bgalt, hlbg, hlfg
rofi.color-enabled: true
rofi.color-normal: r_bg,r_fg,r_bg,r_bg,r_hlfg
rofi.color-urgent: r_bg,#ffffff,r_bg,r_bg,r_hlfg
rofi.color-active: r_bg,r_fg,#ffffff,r_bg,#ffffff
! states: background, border
rofi.color-window: r_bg,#ffffff

rofi.separator-style: solid
rofi.sidebar-mode: false
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5

rofi.yoffset: -300
rofi.opacity: 80
rofi.fake-transparency: true
rofi.location: 0
rofi.width: 30
rofi.font: Inconsolata 12
rofi.lines: 10

#define cyan_theme

#ifdef green_theme
	#include "/home/raidzero/.Xresources-green"
#else
	#include "/home/raidzero/.Xresources-cyan"
#endif

! define different font params for various machines
#ifdef SRVR_chromebook
	#define urxvt_font_size 15
	#define urxvt_letter_spacing -1
#elif defined SRVR_xps
	#define urxvt_font_size 14
	#define urxvt_letter_spacing -1
#elif defined SRVR_baseline
	#define urxvt_font_size 14
	#define urxvt_letter_spacing -1
#else
	#define urxvt_font_size 13
	#define urxvt_letter_spacing -1
#endif

! make it easy to change font in one place
#define urxvt_font xft:Hack:pixelsize=urxvt_font_size
#define urxvt_bold_font urxvt_font:style=Bold

URxvt*internalBorder: 10 
URxvt*font: urxvt_font
URxvt*boldFont: urxvt_bold_font

URxvt*allow_bold: true
URxvt*letterSpace: urxvt_letter_spacing

URxvt*buffered: false
URxvt.transparent: true
URxvt*shading: 10

URxvt*scrollBar:     false
